@model IEnumerable<Category>

<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">All Products</a>
    </li>

    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id">
                <img src="@category.ImageSrc" width="24" height="24" class="object-fit-cover rounded" />
                @category.Name
            </a>
        </li>
    }
</ul>