<div id="banner" class="carousel slide mb-4">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#banner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="https://24h.pchome.com.tw/store/DGCF6G?banner=new24_c9">
                <img src="https://img.pchome.com.tw/fs/img/h24/v2/layout/index/hero/066271c6010dc266271c6010e12ecman1/8_1_20240423102950.jpg" class="d-block w-100">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://24h.pchome.com.tw/activity/campaign/C786114938?banner=new24_c10">
                <img src="https://img.pchome.com.tw/fs/img/h24/v2/layout/index/hero/066271c6010dc266271c6010e12ecman1/9_1_20240423102950.jpg" class="d-block w-100">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://24h.pchome.com.tw/activity/campaign/C216578099?banner=new24_c6">
                <img src="https://img.pchome.com.tw/fs/img/h24/v2/layout/index/hero/066271c6010dc266271c6010e12ecman1/5_1_20240423102949.jpg" class="d-block w-100">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
