@model Product

@{
    ViewData["Title"] = "Purge All Products";
    Layout = "_Layout_Manager";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <form asp-action="Purge">
        <input type="hidden" asp-asp-for="Id" />
        <div class="col-md-4">
            <div class="form-group mt-2">
                <input type="submit" value="Purge" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
    </form>
</div>
